
span.BAH {
  background-image: url("/images/bah_120.png");
  background-size: 17.5px 19px;
  background-repeat:no-repeat;
  display: inline-block;
  width: 17.5px;
  height: 19px;

  line-height: normal;
  margin-bottom: -5px;
  margin-left: -17px; 
}

/*

  vertical-align: baseline;
  text-align: center;

 */